p {
	font-size: 20px;
}

h2 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

h1 {
	text-align: center;
	font-family: Arial;
	font-size: 35px;
}

#nav ul {
	background: black;
	text-align: center;
	padding: 0;
}

#nav ul li {
	display: inline-block;
	margin: 10px 20px;
	font-size: 20px;
	text-transform: uppercase;
}

#nav ul li a {
	color: white;
	font-family: Arial;
	text-decoration: none;
	
}

li {
	font-size: 20px;
}

#about {
	margin: 0 30px;

}

#branding {
	margin: 0 30px;
}

#wireframe {
	margin: 0 30px;
}

#qoc {
	margin: 0 30px;
}


#logo {
	margin: 0 30px;

}

figure {
	text-align: center;
	
}

figcaption {
	font-weight:bold;
	margin: 5px;
	font-size: 15px;
}

#mockups {
	margin: 0 30px;
}

#interaction {
	margin: 0 30px;
}

#qoc {
	margin: 0 30px;
}

#team {
	margin: 0 30px;
	clear: both;
}